<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.shoppingmall.basket.dao.BasketDAO">
  	<select id="selectBasketListByUserId" parameterType="int" resultType="com.shoppingmall.basket.model.Basket">
		SELECT
			`id`
			,`userId`
			,`itemId`
			,`number`
			,`createdAt`
		FROM 
			`basket`
		WHERE
			`userId` = #{userId}
  	</select>
  	<select id="selectBasketListByBasketIdList" parameterType="map" resultType="com.shoppingmall.basket.model.Basket">
  		SELECT
			`id`
			,`userId`
			,`itemId`
			,`number`
			,`createdAt`
		FROM 
			`basket`
		WHERE
			`id` IN
			<foreach collection="list" item="id" separator="," open="(" close=")">
				 #{id}
			</foreach>
  	</select>
	<select id="selectBasketById" parameterType="int" resultType="com.shoppingmall.basket.model.Basket">
  		SELECT
			`id`
			,`userId`
			,`itemId`
			,`number`
			,`createdAt`
		FROM 
			`basket`
		WHERE
			`id` = #{id}
  	</select>
  	<insert id="insertBasket" parameterType="map">
  		INSERT INTO
  			`basket`
  		(
	  		`userId`
			,`itemId`
			,`number`
			,`createdAt`
  		)
  		VALUES
  		(
  			#{userId}
			,#{itemId}
			,#{number}
			,NOW()
  		)
  	</insert>
  	<select id="existBasketByUserIdAndItemId" parameterType="map" resultType="com.shoppingmall.basket.model.Basket">
  		SELECT
			`id`
			,`userId`
			,`itemId`
			,`number`
			,`createdAt`
		FROM 
			`basket`
		WHERE
			`userId` = #{userId}
			AND
			`itemId` = #{itemId}
  	</select>
  	<update id="updateBasket" parameterType="map">
  		UPDATE
  			`basket`
  		SET
  			`number` = #{number}
  		WHERE
			`userId` = #{userId}
			AND
			`itemId` = #{itemId}
  	</update>
  	<delete id="deleteBasket" parameterType="int">
  		DELETE FROM
  			`basket`
  		WHERE
  			`id` = #{id}
  	</delete>
  </mapper>