<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.shoppingmall.chatroom.dao.ChatroomDAO">
 	<select id="selectChatroomByUserIdAndSellerId" parameterType="map" resultType="com.shoppingmall.chatroom.model.Chatroom">
 		SELECT
 			`id`
			,`userId`
			,`sellerId`
			,`state`
			,`createdAt`
 		FROM
 			`chatroom`
 		WHERE
 			`userId` = #{userId}
 			AND
 			`sellerId` = #{sellerId}
 	</select>
 	<insert id="insertChatroomByUserIdAndSellerId" parameterType="hashmap" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO
 			`chatroom`
 		(
 			`userId`
			,`sellerId`
			,`createdAt`
 		)
 		VALUES
 		(
 			#{userId}
 			,#{sellerId}
 			, NOW()
 		)
 		<selectKey keyProperty="id" resultType="integer" order="AFTER">
 			SELECT LAST_INSERT_ID()
 		</selectKey>
 	</insert>
 </mapper>