<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.shoppingmall.item.dao.ItemDAO">
 	<insert id="insertItem" parameterType="map">
 	INSERT INTO
 		`item`
 		(
	 		`sellerId`
			,`name`
			,`number`
			,`price`
			,`content`
			,`sort`
			,`thumbnailImg`
			,`deliveryPrice`
			,`createdAt`
			,`updatedAt`
 		)
	VALUES
		(
			#{sellerId}
			,#{name}
			,#{number}
			,#{price}
			,#{content}
			,#{sort}
			,#{imagePath}
			,#{deliveryPrice}
			,NOW()
			,NOW()
		)
 	</insert>
 	<update id="updateItem" parameterType="map">
 	UPDATE
 		`item`
	SET 
		`name` =  #{name}
		,`number` = #{number}
		,`price` =  #{price}
		,`content` = #{content}
		,`sort` = #{sort}
		<if test="imagePath != null">
		,`thumbnailImg` = #{imagePath}
		</if>
		,`deliveryPrice` = #{deliveryPrice}
		,`updatedAt` = NOW()
 	WHERE
 		`id` = #{itemId}
 	</update>
 	<select id="selectItemBySellerId" parameterType="int" resultType="com.shoppingmall.item.model.Item">
 		SELECT
 			`id` 
 			,`sellerId`
			,`name`
			,`number`
			,`price`
			,`content`
			,`sort`
			,`thumbnailImg`
			,`deliveryPrice`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`item`
 		WHERE
 			`sellerId` = #{sellerId}
 	</select>
 	<select id="selectItemByItemId" parameterType="int" resultType="com.shoppingmall.item.model.Item">
 		SELECT
 			`id` 
 			,`sellerId`
			,`name`
			,`number`
			,`price`
			,`content`
			,`sort`
			,`thumbnailImg`
			,`deliveryPrice`
			,`createdAt`
			,`updatedAt`
		FROM
 			`item`
 		WHERE
 			`id` = #{itemId}
 	</select>
 	<select id="selectItemBySellerIdLimitPage" parameterType="map" resultType="com.shoppingmall.item.model.Item">
 		SELECT
 			`id` 
 			,`sellerId`
			,`name`
			,`number`
			,`price`
			,`content`
			,`sort`
			,`thumbnailImg`
			,`deliveryPrice`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`item`
 		WHERE
 			`sellerId` = #{sellerId}
 		ORDER BY `id` DESC	
 		LIMIT 3
 		OFFSET #{offsetNum}
 	</select>
 	<select id="selectItemCountBySellerId" parameterType="int" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`item`
 		WHERE
 			`sellerId` = #{sellerId}
 	</select>
 </mapper>