<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.shoppingmall.order.dao.OrderDAO">
 	<insert id="insertOrder" parameterType="hashmap">
 		INSERT INTO
 			`order`
 		(
 			`userId`
 			, `phoneNumber`
 			, `address`
 			, `name`
 		)
 		VALUES
 		(
	 		#{userId}
	 		,#{phoneNumber}
	 		,#{address}
	 		,#{name}
 		)
 		<selectKey keyProperty="id" resultType="integer" order="AFTER">
 			SELECT LAST_INSERT_ID()
 		</selectKey>
 	</insert>
 	<select id="selectOrderIdListByUserId" parameterType="int" resultType="integer">
 		SELECT
 			`id`
 		FROM
 			`order`
 		WHERE
 			`userId` = #{userId}
 	</select>
 	<select id="selectOrderById" parameterType="int" resultType="com.shoppingmall.order.model.Order">
 		SELECT
 			`id`
 			,`userId`
			,`phoneNumber`
			,`address`
			,`name`
			,`createdAt`
			,`updatedAt`
			,`name`
		FROM
 			`order`	
		WHERE
			`id` = #{id}
 	</select>
 	<select id="selectOrderByIdAndName" parameterType="map" resultType="com.shoppingmall.order.model.Order">
 		SELECT
 			`id`
 			,`userId`
			,`phoneNumber`
			,`address`
			,`name`
			,`createdAt`
			,`updatedAt`
			,`name`
		FROM
 			`order`	
		WHERE
			`id` = #{id}
			AND
			`name` LIKE CONCAT(#{name},'%')
 	</select>
 </mapper>