<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.shoppingmall.review.dao.ReviewDAO">
 	<insert id="insertReview" parameterType="map">
		INSERT INTO
			`review`
		(
			`userId`
			,`itemId`
			,`content`
			,`point`
			,`createdAt`
			,`updatedAt`
		) 
		VALUES
		(
			#{userId}
			,#{itemId}
			,#{content}
			,#{point}
			, NOW()
			, NOW()
		)
 	</insert>
 	<select id="selectReviewListByItemId" parameterType="int" resultType="com.shoppingmall.review.model.Review">
 		SELECT
 			`id`
			,`userId`
			,`itemId`
			,`content`
			,`point`
			,`createdAt`
			,`updatedAt`
		FROM
			`review`
		WHERE
			`itemId` = #{itemId}
 	</select>
 	<delete id="deleteReviewById" parameterType="int">
 		DELETE FROM
 	 		`review`
		WHERE
			`id` = #{id}
 	</delete>
 	<update id="updateReview" parameterType="map">
 		UPDATE
 			`review`
 		SET
 			`content` = #{content}
 			, `point` = #{point}
 			, `updatedAt` = NOW()
 		WHERE
 			`id` = #{id}
 	</update>
 </mapper>