<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.shoppingmall.seller.dao.SellerDAO">
 	<insert id="insertSeller" parameterType="map">
 		INSERT INTO
 			`seller`
 		(
 			`userId`
			,`shopName`
			,`address`
			,`shopPhoneNumber`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
			,#{shopName}
			,#{address}
			,#{shopPhoneNumber}
			,NOW()
			,NOW()
 		)
 	</insert>
 	<select id="selectSellerByState" parameterType="string" resultType="com.shoppingmall.seller.model.Seller">
 		SELECT
 			`id`
			,`userId`
			,`shopName`
			,`address`
			,`shopPhoneNumber`
			,`state`
			,`file`
			,`bannerImg`
			,`shopMainImg`
			,`createdAt`
			,`updatedAt`
		FROM
 			`seller`
 		WHERE
 			`state` = #{state}
 	</select>
 	<select id="selectSellerByUserId" parameterType="Integer" resultType="com.shoppingmall.seller.model.Seller">
 		SELECT
 			`id`
			,`userId`
			,`shopName`
			,`address`
			,`shopPhoneNumber`
			,`file`
			,`bannerImg`
			,`shopMainImg`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`seller`
 		WHERE
 			`userId` = #{userId}
 	</select>
 	<update id="updateSellerByUserId" parameterType="map">
 		UPDATE
 			`seller`
 		SET
 			`shopName` = #{shopName}
			,`address` = #{address}
			,`shopPhoneNumber` = #{shopPhoneNumber}
			<if test="bannerImg != null">
			,`bannerImg` = #{bannerImg}
			</if>
			<if test="shopMainImg != null">
			,`shopMainImg` = #{shopMainImg}
			</if>
			,`updatedAt` = NOW()
 		WHERE
 			`userId` = #{userId}
 	</update>
 	<update id="updateSellerStateBySellerId" parameterType="map">
 		UPDATE
 			`seller`
 		SET
 			`state` = #{state}
 		WHERE
 			`id` = #{id}
 	</update>
 	<select id="selectSellerById" parameterType="int" resultType="com.shoppingmall.seller.model.Seller">
		SELECT
			`id`
			,`userId`
			,`shopName`
			,`address`
			,`shopPhoneNumber`
			,`file`
			,`bannerImg`
			,`shopMainImg`
			,`createdAt`
			,`updatedAt`
		FROM
 			`seller`
 		WHERE
 			`id` = #{id}
 	</select>
 	<select id="selectSellerListByUserId" parameterType="int" resultType="com.shoppingmall.seller.model.Seller">
 		SELECT
			`id`
			,`userId`
			,`shopName`
			,`address`
			,`shopPhoneNumber`
			,`file`
			,`bannerImg`
			,`shopMainImg`
			,`createdAt`
			,`updatedAt`
		FROM
 			`seller`
 		WHERE
 			`id` IN
 		<foreach collection="list" item="id" separator="," open="(" close=")">
				 #{id}
		</foreach>
		ORDER BY 
			`id` DESC	
 	</select>
 </mapper>