@charset "UTF-8";
header {
	height: 100px;
}
.bg-green {
	background-color: rgb(139, 194, 12);	
}
a {
	color:black;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color:black;
	text-decoration: none;
}
.user-menu {
	width: 40px;
	height: 40px;
	padding-left: 10px;
}
section {
	min-height: 700px;
}
.sign-in-col {
	height: 500px;
}
.sign-in-box {
	border-radius: 10%;
	background-color: #b8b8b8;
}
.gray-box {
	background-color: rgb(226, 226, 226);
	height: 600px;
}
.address-box {
	width: 400px;
}
#banner {
	height: 400px;
	width: 100%;
}
.item-box {
	width: 80%;
}
.item-create-box {
	width: 50%;
	min-height: 500px;
	padding-left: 5%;
	padding-top: 2%;
	background-color: rgb(226, 226, 226);
}
.item-content-box {
	background-color: #ffffff;
	border-radius: 5px;
	width : 90%;
}
.seller-update-box {
	width: 80%;
	background-color: #ffffff;
	border-radius: 25px;
}
.item-detail-box {
	min-height: 500px;
}
.review-box {
	border-radius: 25px;
}
.basket-list-box {
	min-height: 500px;
}
.order-box {
	min-height: 700px;
}
.order-list-box {
	min-height: 500px;
}
#reviewContent{
	min-height: 150px;
}
.seller-order-each-box{
	border: 2px;
	border-radius: 25px;
}
.message-box{
	height: 700px;
	overflow: scroll;
}
.chatroom-list-box {
	min-height: 700px;
}
.box{
	min-height: 700px;
}
.bookmark-box {
	height: 300px;
	width: 250px;
}
.card {
	max-width: 200px;
}
.chatroom-state {
	border-radius: 5px;
	height: 40px;
}
.chatroom-each-box {
	height: 50px;
	border-radius: 5px;
	width: 500px;
}
footer {
	height: 100px;
}